# Optional:
# Needed to download the copy of any site except the core one, since those come
# from a github artifact and github asks for a token even for public
# repositories. Create one at https://github.com/settings/tokens with the
# 'public_repo' scope, or a fine grained token with read access to Actions.
GITHUB_TOKEN=
