# Needed to download the copy of any site from a github artifact.
# Github asks for credentials even for public repositories.
# Create a token at https://github.com/settings/tokens with the
# 'public_repo' scope, or a fine grained token with read access to Actions.
#
# This can be left empty if you have github cli installed and logged in
# ('gh auth login').
GITHUB_TOKEN=
