.env.local
scraped_data.json
app/crawls/custom/*
!app/crawls/custom/_example.py
!app/crawls/custom/README.md

__pycache__/

# Ignore folders created by JetBrains IDEs.
.idea/*

projects/*
!projects/.keep
